{% extends "base.html" %}
{% block title %}JCEBOOKS{% endblock %}
{% block head %}

{% endblock %}
{% block h1 %}BİZ KİMİZ?{% endblock %}
{% block content %}


Bizler Junior Chamber International (JCI) derneğinin

Bahçeşehir Temsilciliği üyeleri  olarak, “pozitif değişim”

hedefiyle toplumsal gelişime katkı sağlama azminde olan

18 – 40 yaş arası gençleriz.

<div class="clear"></div><br>

Liderlik ve girişimcilik becerileri  ve dostluklar geliştiriyoruz.

Sosyal sorumluluklarımızı yerine getirecek fırsatlar yaratarak,

farklı projeler üretiyor, bu projeleri yönetiyor ve hayata

geçiriyoruz.

 <div class="clear"></div><br>

Kendimize ve topluma yatırım yapıyoruz. Daha iyi bir birey,

daha fazla sorumluluk sahibi bir vatandaş, daha güçlü bir lider olmaya çalışıyoruz.

 <div class="clear"></div><br>

Projelerimizi 18 ve 40 yaş arasındaki genç lider ve girişimciler veya adayları ile sürdürüyoruz. Aktif katılım ile, üyelerimizin  potansiyelini gerçekleştirebileceği ortamda tamamen gönüllülük esası ile çalışıyor, “yaparak” öğreniyoruz.

 
<div class="clear"></div><br>
E-kütüphane projemizde de sizinle bir fazla güçlüyüz. JCI Bahçeşehir yönetim ve E-kütüphane proje ekibi olarak bizlerle temas kurmanız halinde bu projede veya başka projelerimizde birlikte çalışabiliriz.

 <div class="clear"></div><br>

<h5>2010 yılı Yönetim Kurulumuz;</h5>

BAŞKAN :EDA ENGİN<br>
GENEL SEKRETER :BURÇİN ALTINBAŞ<br>
SAYMAN :BAHADIR ANTEPLİOĞLU<br>
BIREYSEL VP :YESIM CAKTI<br>
TOPLUMSAL VP :TAMER TUR<br>
İŞ DÜNYASI VP :DİLARA ÇELENER<br>
ULUSLARARASI ILISKILER VP:HANDE OZSOY<br>
HUKUKİ DANIŞMAN (Proje Fikri) : E.İSMAİL KÖSE<br>
E-KÜTÜPHANE PROJESİ (Teknik Sorumlular) : Çetin Güldalı ve Sarp Erdağ 

{% endblock %}