{% extends "base.html" %}
{% block title %}JCEBOOKS{% endblock %}
{% block head %}

{% endblock %}
{% block h1 %}BİZ KİMİZ?{% endblock %}
{% block content %}


Bizler Junior Chamber International (JCI) derneğinin Bahçeşehir Şube üyeleri olarak, “pozitif değişim” hedefiyle toplumsal gelişime katkı sağlama azminde olan 18 – 40 yaş arası gençleriz.
<br><br>
Liderlik ve girişimcilik becerileri ve dostluklar geliştiriyoruz. Sosyal sorumluluklarımızı yerine getirecek fırsatlar yaratarak, farklı projeler üretiyor, bu projeleri yönetiyor ve hayata geçiriyoruz.
<br><br>
Kendimize ve topluma yatırım yapıyoruz. Daha iyi bir birey, daha fazla sorumluluk sahibi bir vatandaş, daha güçlü bir lider olmaya çalışıyoruz.
<br><br>
Projelerimizi 18 ve 40 yaş arasındaki genç lider ve girişimciler veya adayları ile sürdürüyoruz. Aktif katılım ile, üyelerimizin potansiyelini gerçekleştirebileceği ortamda tamamen gönüllülük esası ile çalışıyor, “yaparak” öğreniyoruz.
<br><br>

<h3>2010 yılı Yönetim Kurulumuz</h3>
<br>
<b>BAŞKAN</b> :EDA ENGİN<br>
<b>GENEL SEKRETER</b> :BURÇİN ALTINBAŞ<br>
<b>SAYMAN</b> :BAHADIR ANTEPLİOĞLU<br>
<b>BIREYSEL PROJELERDEN SORUMLU BAŞKAN YRD.</b> :YESIM ÇAKTI<br>
<b>TOPLUMSAL PROJELERDEN SORUMLU BAŞKAN YRD. </b>:TAMER TUR<br>
<b>İŞ DÜNYASI PROJELEDEN SORUMLU BAŞKAN YRD. </b>:DİLARA ÇELENER<br>
<b>ULUSLARARASI ILISKILERDEN SORUMLU BAŞKAN YRD. </b>:HANDE OZSOY
<br><br>
<h3>Proje Ekibi</h3><br>
 
<b>PROJE DİREKTÖRÜ </b>: BURÇİN ALTINBAŞ<br>
<b>HUKUKİ DANIŞMAN </b> : BARAN ARIKAN<br>
<b>TEKNİK SORUMLULAR </b>: ÇETİN GÜLDALİ - SARP ERDAĞ<br>

{% endblock %}