{% extends "base.html" %}
{% block title %}JCEBOOKS{% endblock %}
{% block head %}

{% endblock %}
{% block h1 %}İLETİŞİM?{% endblock %}
{% block content %}
<form action="" method="POST" name="feedbackForm" id="feedbackForm">
	<div id="divError" class="errorMsg" style="display:none">Please fill the form.</div>
Adınız ve Soyadınız:<br>
{{ form.name }}<br><br>
Mesajınız:<br>
{{ form.text }}
<br><br>
<input type="submit" value="Gönder">
<br><br>
Görüş ve önerileriniz için yukarıdaki formu kullanabilir veya <a href="mailto:ekutuphanejci@gmail.com">ekutuphanejci@gmail.com</a> adresine e-posta gönderebilirsiniz.

</form>

{% endblock %}