{% extends "base.html" %}
{% block title %}JCEBOOKS{% endblock %}
{% block head %}

{% endblock %}
{% block h1 %}JCI NEDİR?{% endblock %}
{% block content %}

<h4>JCI(Junior Chamber International), dünya çapında faaliyet
gösteren genç liderler ve girişimciler federasyonudur.</h4>
 
<h5>Amacımız;</h5>
Junior Chamber International (JCI) üyelerinin liderlik vasıflarını
geliştirerek yaşadıkları toplumda pozitif değişimi gerçekleştirmeye
 katkıda bulunmayı amaçlayan bir dernektir. Junior Chamber
International yaşadığımız küreselleşme sürecinde üyelerine toplumda pozitif değişime katkıda bulunmaları için ihtiyaç duyacakları imkanları geliştirecek fırsat alanları sunmaktadır. Üyelerin kişisel becerilerini ve liderlik vasıflarını geliştirmesini, sosyal sorumluluk ve girişimcilik ruhunu kazanmasını, takım çalışması ve dayanışmasını ön plana alır.
 
<br><br>
<h5>JCI Tarihçesi</h5>
1910 yılında ABD’nin Missouri Eyaleti St. Louis şehrinde yaşayan genclerin sosyal konulara daha fazla eğilmelerini sağlamak amacıyla klasik dans figürlerini daha iyi öğrenebilmesi ve uygulayabilmesi için Henry “Hy” Giessenbier'in Herculeum Dans klubünü kurması ile başlamıştır.<br>
1915 - Young Men’s Progressive Civic Association oldu.<br>
1916 - Junior Citizen’s (JCs) olarak yeniden yapılandı.<br>
1920 - US Junior Chamber of Commerce oldu.<br>
1928 - İngiltere’de Junior Chamber kuruldu.<br>
1946 - Panama City’de ilk Dünya Konferansı gerçekleşti.<br>
1947 - Avrupa ve Uzakdoğu’da yaygınlaşmaya başladı.<br>
1948 - Rio de Janerio JCI ilkeleri kabul edildi.<br>
1952 - Permanent Secretariat kuruldu.<br>
1987 - Türkiye üyeliğe kabul edildi.<br>
1997 - 124 ülkeye yayılıp yaklaşık 500,000 üye sayısı edindi.<br>
Günümüzde uluslararası anlamda gerçekleşen projelerle varlığını sürdürmekte ve büyümeye devam etmektedir.<br>
<br>
{% endblock %}

