{% extends "base.html" %}
{% block title %}JCEBOOKS{% endblock %}
{% block head %}

{% endblock %}
{% block h1 %}JCI NEDİR?{% endblock %}
{% block h2 %}Merak Edilenler{% endblock %}
{% block content %}
 

<h3>Yönlendirici Bir Dünya Görüşü Var Mı?</h3>

Toplumu pozitif etkileyecek her türlü faaliyeti, evrensel görüş ve dünya barışına katkıyı destekler. JCI'ın temel ilkelerden biri bütün insanların eşit ve geliştirilebilir olduğudur. Dünyamız insana değil, insanlar dünyaya aittir ve her insan dünya vatandaşıdır. Dünyanın her köşesinden aynı ilkelere inanmış binlerce gencin biraraya geldiği uluslarası faaliyetlerde bu ortak inanç ve ilkeler üzerine inşa edilen arkadaşlıklar belki de önümüzde yüzyılda giderek küreselleşen dünyamızda üyelerimizin daha mutlu ve başarılı olmalarını sağlayacak önemli faktörleri de berberinde getirebilecek inancındayız.
<br><br>
<h3>Milliyeti Var Mı?</h3>

Bir milliyeti olmamakla beraber Amerikan orijinli bir dernektir. Merkez St.Louis’de bulunmaktadır. Merkezi yönlendirmeden ziyade derneğimizde şube (Local Organization Management-LOM) esastır. Her LOM, genel çizilmiş misyon ve vizyon doğrultusunda faaliyetlerinde insiyatif sahibidir. Ülke yönetimi ise ulusal koordinasyonu sağlamak ve iletişimi artırmak amaçlı faaliyet gösterir. Headquarter ise uluslararası faaliyetlerin koordinasyonunu sağlar.
<br><br>
<h3>Bir Tüzüğü Var Mı?</h3>

Dernekler kanuna uygun olarak hazırlanmış bir tüzüğü vardır. Diğer Derneklerle İşbirliği Yapıyor Musunuz? JCI’ın bir çok uluslarası dernek ile işbirliği anlaşmaları bulunmaktadır. ICC, UNICEF, AIESEC bu kuruluşlara örneklerdir.
<br><br>
<h3>Üyelerin Ortak Bir Tanımı Var Mı?</h3>

Üyelerin ortak tanımı takım çalışmasına yatkın, kendini yetiştirmek isteyen, gerek iş gerekse sosyal bazda uluslararası açılımı olan 18-40 yaş arası gençleri içermektedir. Sosyoekonomik bir standart belirlenmemiş olmasına rağmen üniversite mezunu ve kariyer vadeden arkadaşlardan oluşan bir grubumuz bulunmaktadır. Sektör sınırlaması olmadığı gibi değişik meslek gruplarından arkadaşlar vizyonun paylaşımı açısından teşvik edilmektedir.
<br><br>
<h3>Üyelerinizin Gelişiminin Devamlılığını Nasıl Sağlıyorsunuz?</h3>

Öncelikle üyelerimizin vasıflarını ve kendilerini hangi alanlarda geliştirmeyi hedeflediklerini çok iyi anlamaya çalışıyoruz. Ve kendilerine bir kariyer planı hazırlıyoruz. Proje direktörlüğünden, şube ve Türkiye başkanlığına, hatta Dünya Başkanlığına giden bir yol var önünüzde. Çalışarak hak ettiğiniz yere gelebilirsiniz.
<br><br>
<h3>Üye Gelişiminiz Ne Yönde?</h3>

Üye talepleri ve aktif üyelerimiz hızla artıyor. Üyelerimiz bir çok şapka taşıyor. Bir aktivitede sponsorluktan sorumlu üyemiz, ertesi ay başka bir aktivitede organizasyon, bir diğerinde bütçe planlamadan sorumlu olabiliyor. Şube, ülke başkanları ve yönetim kurulu üyeleri her yıl değişiyor. Bu şekilde hem üyelerimize bu yöneticilik fırsatları sunulmakta hem de her yıl göreve gelen kişilerin vizyonu ve heyecanı ilerleme ve gelişmemize katkıda bulunuyor.Hiyerarşik yaptırım anlayışı derneğimizde yoktur. Şube başkanı yönetimi boyunca bir proje direktörü arkadaşımızın komitesinde ekip üyesi olarak çalışabilmektedir.
<br><br>
<h3>Üyelik Koşulları Nedir?</h3>

Üyelerin ortak tanımı takım çalışmasına yatkın, kendini yetiştirmek isteyen, gerek iş gerekse sosyal bazda uluslararası vizyon sahibi 18-40 yaş arası gençleri içermektedir. Sosyoekonomik bir standart belirtilmemiş olmakla birlikte, genel eğilim en azından üniversite mezunu ve kariyer vadeden arkadaşlardan oluşan bir grup oluşumudur.
<br><br>
<h3>Kaç Ülkede Kaç Üyeniz Var? Üyeleriniz Arasında Ünlüler Var Mı?</h3>

124 ülkede 200,000 üye var. Tanınmış üyelerden bazıları; Jacques Chirac (Fransa Cumhurbaşkanı), Valerie Giscard D’Estaing(FransaCumhurbaşkanı), Willy de Clerk (AT Komisyon Başkanı), Gerald Ford (ABD Başkanı), Lyndon B:Johnson(ABD Başkanı), Yasuhiro Nakasone (Japon Başbakanı), Paul Schulter (Danimarka Başbakanı), Kim Snato(1980 Dünya Güzeli), Richard Nixon(ABD Başkanı),Bill Clinton (ABD Başkanı), Kofi Annan (BM Genel Sekreteri)
<br><br>
<h3>Türkiye'de Şubeleriniz Nerede Mevcuttur?</h3>

Onaltı sube ve iki temsilcilik ile Türkiye'de yaklaşık 700 üyemiz bulunmaktadir. Subelerimiz, Adana, Ankara, Antalya, Balikesir, Bursa, Çanakkale, İstanbul (İstanbul, Boğaziçi, Avrasya, Bahçeşehir,Kadıköy, Megapol), İskenderun, Kocaeli, Eskisehir, Izmir, Karşıyaka, Samsun, Gaziantep ve Kuzey Kıbrıs Türk Cumhuriyeti'nde bulunmaktadir. Temsilciliklerimiz ise İstanbulda JCI Maltepe.

{% endblock %}