{% extends "base.html" %}
{% block title %}JCEBOOKS{% endblock %}
{% block head %}

{% endblock %}
{% block h1 %}JCI NEDİR?{% endblock %}
{% block h2 %}Fırsat Alanları{% endblock %}
{% block content %}

Junior Chamber International üyelerine aktif görev almalarını sağlayarakliderlik becerilerini geliştirebilecek dört temel fırsat alanı sunmaktadır.
<br><br>
<h3>1. Bireysel Gelişim Alanı:</h3>
<br>
<ul>
	<li>         Düzenli eğitim, seminerler vel iderlik akademileri ile liderlik ve girişimcilik becerilerini geliştirme </li>

	<li>         JCI eğitim enstitüsü bünyesinde eğitmenlik kariyeri geliştirme; bunun için özel tasarlanmış eğitimlere katılma ve diğer üyelere eğitimler vererek, eğitimcilik becerilerini geliştirme </li>

	<li>         JCI’ın kişisel gelişim programlarının yerel bazda uygulanması (toplum önünde konuşma, münazara turnuvaları, vs) </li>

	<li>      Üyelerin projelerde aktif rol ve liderlik sorumluluğu alarak, yaparak öğrenmeleri</li>
</ul>
<h3>2. Toplumsal Alan:</h3>
<br>
JCI, UNESCO ile ortak yürütülen “Round the Cape” (üniversitede okuyan gençlerin beklentileri ve yönlendirilmeleri ile ilgili proje), gençlerin sigara kullanmamalarını amaçlayan “JCI Against Youth Smoking” gibi uluslararası projeler üretmiştir.

Her yıl, dallarında yaptıkları çalışmalarda en başarılı 10 Türk gencini ortaya çıkararak toplum takdirini kazanmalarını sağlamak ve çalışmalarını uluslararası platforma amacıyla düzenlediğimiz TOYP (“Top Outstanding Young Persons”) yarışmamız, şubemizin organize ettiği, JCI’ın önde gelen toplumsal bir programıdır.  Programın örnek teşkil ederek gençleri yaşadıkları toplumda pozitif değişimi gerçekleştirmeye teşvik etmesini hedefliyoruz.

Bu alandaki projeler genelde üyelerin yaratıcılığı ve duyarlılığı ile oluşarak, toplumda pozitif değişim yaratmaktadırlar.

JCI İstanbul, Theodora Vakfı ile birlikte hasta hanedeki çocuklar ile ilgili, TEMA ile birlikte çevre konusunda, zihinsel engelli çocuklara yönelik, depremzedelere yönelik ve diğer farklı konularda da toplumsal projelere imza atmıştır.
<br><br>
<h3>3. Uluslararası Alan:</h3>
<br>
Junior Chamber üyeleri, dünyanın her yerinde aynı sıcaklığı ve ilgiyi hissedebilecekleri diğer Jaycee dostlarına sahiptirler. Her yıl yapılan bölge ve dünya konferanslarında bizlerle ortak heyecanı paylaşan diğer binlerce Jaycee ile gün boyu aynı salonda eğitim alıp, geleceği tartışıp, kalıcı arkadaşlıklar kurabilme fırsatımız ve iş imkanları yaratabilme imkanımız bulumaktadır. Yani sınırsız dünya, sınırsız dostluklar, JCI aracılığıyla üyeler, hem kendi dünya görüşlerini zenginleştirmekte hem de ülke ve şehirlerinin tanıtımını bizzat yapma imkanına sahip olabilmekteler.

Ayrıca ülke ya da şehir bazında yapılan twinning anlaşmaları ile sınırları aşan projeler üretilebilmektedir.

2007 senesinde JCI İstanbul şubesi JCI Almanya Köln Şubesi ve JCI İspanya Barcelona şubesi ile twinning yapmış ve 2008 yılında her 2 proje ile de geliştirilecek ortak projeler için çalışmalar başlamıştır.

Bunların yanında,2008 yılında anlaşmasını imzalamayı hedeflediğimiz “Ports and Bridges “ adlı yeni bir multi-twinning projemiz bulunmaktadır. Bu proje, JCI Antwerp tarafından başlatılmış, sırasıyla JCI Hamburg, JCI Lizbon, JCI Turku dan sonra JCI İstanbul da bu twinning’e katılmak üzere davet edilmiştir.
<br><br>
<h3>4. İş Dünyası Alanı:</h3>
<br>
Uluslararası boyutta 200.000 Jaycee’nin üye olduğu International Business Network (IBN) sayesinde üyeler arasında ticaret ve iş ortaklığı yapılabilmektedir. Üyelerimizin yurt dışında veya içinde, National Business Network (NBN) ile pazar arayışları, iş olanakları yaratma arzuları derneğimizin sunduğu verimli bağlantılarla daha geniş çaplı ve güvenilir standartlarda gelişmektedir.

Ayrıca, her ay iş dünyasından değerli konuklar tecrübe ve başarıya giden yolda deneyimlerini bizlerle paylaşmaktadır. Jaycee iş akademileri ve şubelerin yaratıcılıkları sonuçlarında oluşan girişimlerle, üyeler kendilerini iş dünyasında güçlü hissederler.  Özel sektör ve kamu kurumları ile yapılan ortaklaşa organizasyonlar, özellikli bir network imkanı sunarlar.

Bir JCI programı olan “en iyi iş planı” yarışması, girişimcilerin gelişmelerine katkıda bulunur.

JCI İstanbul bünyesinde sunulan eğitimler, kişisel gelişimin yanında, iş dünyasındaki gelişimi de destekleyecek şekilde tasarlanmıştır.  Proje yönetimi ve iş planı eğitimlerine ek olarak, JCI’ın “dünya ticaret oyunu” iş dünyasında çalışanların stratejik düşünme ve takım çalışmasını desteklemeye yönelik tasarlanmıştır.
 
{% endblock %}