{% extends "base.html" %}
{% block title %}JCEBOOKS{% endblock %}
{% block head %}

{% endblock %}
{% block h1 %}E-KÜTÜPHANE PROJESİ?{% endblock %}
{% block content %}


JCI Bahçeşehir ekibi olarak,bir araya geldiğimiz ilk

günden beri çalışmalarımızın ve girişimlerimizin

toplumsal fayda sağlaması ana amaçlarımızdan

 olmuştur. Bu çerçevede, E-Kütüphane projemiz,

hevesle ve heyecanla yürüttüğümüz çalışmalarımızın

başında gelmektedir.

<div class="clear"></div><br>

E-Kütüphane, adında da anlaşılacağı üzere, dijital

platformda faaliyet gösteren ve daha önce Türkiye’de

denenmemiş oldukça farklı bir projedir. Web

platformunda, dijital ortama aktarılmış olan ve her

yerden ulaşabileceğiniz birçok kitabı barındıran bu çalışma, daima canlı ve geliştirilmeye açık bir yapı barındırmaktadır.Bu projedeki ana amacımız; neredeyse hayatımızın her alanına giren teknolojik imkanları burada da kullanarak, her yerden rahatlıkla ulaşılıp kitap okunabilecek ya da kitap yüklenebilecek bir kütüphane yaratmaktır.

<div class="clear"></div><br> 

Hem kütüphanemizin kullanıcısı, hem de kitap zenginliğimizi arttırmak için sizlerde bu projeye ortak olabilirsiniz.

 

Her geçen gün büyüyen bu halkanın zinciri olmak ve projemizi geliştirmek için öneri ve eleştirilerinizi daima bizimle paylaşabilirsiniz.


{% endblock %}