{% extends "base.html" %}
{% block title %}JCEBOOKS{% endblock %}
{% block head %}

{% endblock %}
{% block h1 %}E-KÜTÜPHANE PROJESİ?{% endblock %}
{% block content %}


JCI Bahçeşehir ekibi olarak, bir araya geldiğimiz ilk günden beri çalışmalarımızın ve girişimlerimizin toplumsal fayda sağlaması ana amaçlarımızdan olmuştur. Bu çerçevede, E-Kütüphane projemiz, hevesle ve heyecanla yürüttüğümüz çalışmalarımızın başında gelmektedir.
<br><br>
E-Kütüphane, adında da anlaşılacağı üzere, dijital platformda faaliyet gösteren bir bilgi kaynağı. Web platformunda, dijital ortama aktarılmış olan ve her yerden ulaşabileceğiniz birçok kitabı ve yazılı dökümanı içeren bu çalışma, daima canlı ve geliştirilmeye açık bir yapı barındırmaktadır. Bu projedeki ana amacımız; neredeyse hayatımızın her alanına giren teknolojik imkanları burada da kullanarak, her yerden rahatlıkla ulaşılıp kitap okunabilecek ya da kitap yüklenebilecek bir kütüphane yaratmaktır.
<br><br> 
Hatırlarsınız lise sıralarında dönem ödevlerini hazırlamak için, kütüphanelere giderdik, girişte listelerden hangi kitabın nerede olduğunu bulup, çalışmaya başlardık. Öyküler, romanlar, makaleler, ders notları, tezler, projeler, ansiklopediler... Hepsi bir arada. Peki günümüzde kaç şehirde böyle geniş 
kapsamlı kütüphaneler var? Kaç öğrenci bu kadar kaynağa aynı anda ulaşabiliyor?
Ancak biliyoruz ki , artık her evde bir bilgisayar var, en azından her sokakta bir internet kafe var! 
Yardım masaları hazır, JCI Bahçeşehir olarak bu masalara zenginlik katmak, kaynakları zenginleştirmek, ülkenin her 
yanından insanları kitaplara, bilgiye yakınlaştırmak istiyoruz.
<br><br> 
Hayatında hiç kitap okumamış kişi, bir sayfa yazıp web platformuna aktarsa, yazarken o kitaba dokunsa, 
önsözünü okusa fayda sağlamaya başladık demektir..
<br><br>
Hem kütüphanemizin kullanıcısı, hem de kitap zenginliğimizi arttırmak için sizlerde bu projeye ortak olabilirsiniz. 
Her geçen gün büyüyen bu halkanın zinciri olmak ve projemizi geliştirmek için öneri ve eleştirilerinizi daima bizimle paylaşabilirsiniz.
<br><br>

"Bilgi, hayalleri efsaneye dönüştürür!"


{% endblock %}