{% extends "base.html" %}
{% block title %}JCEBOOKS{% endblock %}
{% block head %}

{% endblock %}
{% block h1 %}DETAYLI ARAMA{% endblock %}

{% block content %}
<script>
$().ready(function() {
	$("#search_button").click(function(){
		window.location = "/?q=" + $("#book_title").val() + "&a=" + $("#author").val();
	});
	
});
</script>
<label>Aranacak Kitap Başlığı:</label> <input type="text" id="book_title"><br>
<label>Yazar:</label> <input type="text" id="author"><br><br>
<label>&nbsp</label><input type="button" id="search_button" value="Ara">

{% endblock %}

